<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="serviceKey" value="VWHd5QdIU7HFbPeIrL1jBSctm" />
      <add key="serviceSecret" value="9VZbpheyn53e8RtMjKw3YDFuS2QxrKvqZxGFYqoTUC1kdGRQzh" />
      <add key="accessToken" value="2607903636-VSZ1SyuKack2vzkYGc2GphqhgWVBSOVF4Wu35Ui" />
      <add key="accessTokenSecret" value="uvqGZKzoO99p8s1KbGvsizqoPlSjifIgEzzH3gRELEQ7q" />
      <add key="reactionGifJson" value="http://www.reddit.com/r/reactiongifs/new.json?limit=15"/>
    </appSettings>
</configuration>